/* Enter your custom styles here */


/*ROSA 1: #ef4c85*/
/*ROSA 2: #f77aa4*/
/*CELESTE 1: #0a6ed19e*/

.margenLinkLogin {
	margin-top: 12px;
}

.margenCardLogin {
	margin-top: 130px;
}

.cardProcesada {
	background: #d9edf7;
}

.cardPagada {
	background: #dff0d8;
}

.cardRechazada {
	background: #f2dede;
}

.noPadding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/*#headerImg {*/
/*	margin-top: 0.7rem !important;*/
/*}*/

.marginLogoLogin {
	margin-left: 1.92rem !important;
	margin-top: 0.2rem !important;
}

section .sapMTBStandard{
	border-bottom: solid 1.5px #0a6ed19e;
}


.sapMLnk, .sapMLnk:visited{
	color: #ef4c85;
}

.sapMLnk:active, .sapMLnk:hover, .sapMLnk:focus{
	color: #f77aa4 !important;
}

