/* Enter your custom styles here */

.margenLinkLogin {
	margin-top: 12px;
}

.margenCardLogin {
	margin-top: 130px;
}

.cardProcesada {
	background: #d9edf7;
}

.cardPagada {
	background: #dff0d8;
}

.cardRechazada {
	background: #f2dede;
}

.noPadding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}